<!DOCTYPE HTML>
<html>

<head>
    <script src="./matter.js"></script>
    <style>
        body {
            background-color: white;
            color: black;
        }

        canvas {
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
        }

        button {
            margin: 10px;
        }
    </style>
</head>

<body>
    <div style="display: inline-block;">
        <div align="center">
            <h1 id="ballNum" align="center"></h1>
            <button onclick="add_ball()">Add Ball</button>
            <button onclick="remove_ball()">Remove Ball</button>
        </div>
        <canvas id="canvas"></canvas>
    </div>

    <script>
        var Engine = Matter.Engine,
            Render = Matter.Render,
            Runner = Matter.Runner,
            Composites = Matter.Composites,
            Common = Matter.Common,
            MouseConstraint = Matter.MouseConstraint,
            Mouse = Matter.Mouse,
            World = Matter.World,
            Bodies = Matter.Bodies;

        // create engine
        var engine = Engine.create(),
            world = engine.world;

        var canvas = document.getElementById("canvas");

        // create renderer
        var render = Render.create({
            canvas: canvas,
            engine: engine,
            options: {
                width: 800,
                height: 600,
                background: 'transparent',
                showAngleIndicator: false,
                wireframes: false
            }
        });

        Render.run(render);

        // create runner
        var runner = Runner.create();
        Runner.run(runner, engine);

        // add bodies
        var offset = 10,
            options = {
                render: {
                    fillStyle: 'white',
                    strokeStyle: 'white',
                    lineWidth: 3
                },
                isStatic: true
            };

        world.bodies = [];

        var shift_left = 200;


        // these static walls will not be rendered in this sprites example, see options
        World.add(world, Bodies.rectangle(400 - shift_left, 600 - 100, 800.5 + 2 * offset, 50.5, options));

        var box = Bodies.rectangle(400 + 130 + 5 - shift_left, 400 - 100, 10, 368, options);
        Matter.Body.rotate(box, -1 / 2);
        World.add(world, box);
        box = Bodies.rectangle(400 - 70 - 5 - shift_left, 400 - 100, 10, 368, options);
        Matter.Body.rotate(box, 1 / 2);
        World.add(world, box);
        box = Bodies.rectangle(400 + 30 - shift_left, 570 - 100, 368, 10, options);
        World.add(world, box);

        var number_of_ball = 0;

        const max_ball = 10;

        var ball = [];

        world.gravity.x = 0.0;
        world.gravity.y = 2.0;

        function init_ball() {
            while (number_of_ball < max_ball) {
                ball.push(Bodies.circle(400 - shift_left, 400 - 5, 46, {
                    density: 1,
                    frictionAir: 0,
                    restitution: 0.1,
                    friction: 1,
                    render: {
                        sprite: {
                            texture: './stone-small.png'
                        }
                    }
                }));
                World.add(world, ball[number_of_ball]);
                number_of_ball++;
                document.getElementById('ballNum').innerHTML = "Ball(s) : " + number_of_ball;
            }
        };

        init_ball();

        function add_ball() {
            if (number_of_ball < max_ball) {
                ball.push(Bodies.circle(400 - shift_left, 300, 46, {
                    density: 1,
                    frictionAir: 0,
                    restitution: 0.1,
                    friction: 1,
                    render: {
                        sprite: {
                            texture: './stone-small.png'
                        }
                    }
                }));
                World.add(world, ball[number_of_ball]);
                number_of_ball++;
                document.getElementById('ballNum').innerHTML = "Ball(s) : " + number_of_ball;
            }
        }

        function remove_ball() {
            Matter.Composite.remove(world, ball[0]);
            ball.shift();
            number_of_ball--;
            document.getElementById('ballNum').innerHTML = "Ball(s) : " + number_of_ball;
        }
    </script>
</body>

</html>